<footer id="footer">
  <div class="footer_content">
    <div class="copyright">
      <p>&copy; 2020 - Joseph Brunet</p>
    </div>

    <div class="social">
      <ul>
        {% if site.author.email %}
          <li><a href="mailto:{{ site.author.email }}" id="email"><i class="fas fa-envelope" aria-hidden="true"></i></a></li>
        {% endif %}

        {% if site.author.researchgate %}
          <li><a href="{{ site.author.researchgate }}" target="_blank" id="researchgate"><i class="fab fa-fw fa-researchgate" aria-hidden="true"></i></a></li>
        {% endif %}

        {% if site.author.linkedin %}
          <li><a href="{{ site.author.linkedin }}" target="_blank" id="linkedin"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i></a></li>
        {% endif %}

        {% if site.author.googlescholar %}
          <li><a href="{{ site.author.googlescholar }}" target="_blank" id="googlescholar"><i class="fas fa-fw fa-graduation-cap"></i></a></li>
        {% endif %}



        <!--
        <li>
          <a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a>
        </li>
        <li>
          <a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a>
        </li>
        <li>
          <a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus">googleplus</a>
        </li>
        <li>
          <a href="http://pinterest.com/fwtemplates/" id="pinterest">pinterest</a>
        </li>
        -->
      </ul>
    </div>
  </div>
</footer>
