<header id="header">
  <div id="header-content">
    <div id="header_left-content">
      <a href="index.html" class="logo">
        <div id="logo">
          <p id="logo-text">Joseph Brunet</p>
          <!--<div id="gear_box">
            <img id="logo-img1" src="assets/images/gears.svg" alt="Gear">
            <img id="logo-img2" src="assets/images/gears.svg" alt="Gear">
            <img id="logo-img3" src="assets/images/gears.svg" alt="Gear">
          </div>-->
        </div>
      </a>
    </div>
    <nav>
      <ul id="navigation">
          <li><a id="nav-about" class="nav-icons active" href="/" onclick="topFunction()">About</a></li>
          <li><a id="nav-research" class="nav-icons" href="/#research">Research</a></li>
          <li><a id="nav-publication" class="nav-icons" href="/#publication">Publications</a></li>
          <li><a id="nav-conference" class="nav-icons" href="/#conference">Conferences</a></li>
          <li><a id="nav-teaching" class="nav-icons" href="/#teaching">Teaching</a></li>
      </ul>
    </nav>
  </div>
</header>
