{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <li><span style="display:block; width: 3em;"></span></li>
      <a href="{{ base_path }}/">
         <!--<img alt="vitriuve" class="masthead__image_home" src="{{ domain }}/images/vitruve.png">-->
         <li class="masthead__menu_home">J.</li>
      </a>
      <li><span style="display:block; width: 5em;"></span></li>
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <div class="visible-links">
          <!--
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          -->
          <div style="float: right;">
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          </div>
        </div>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
