{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <div style="display:inline-block; margin-left:0em;">
          <a href="{{ base_path }}/"><li class="masthead__menu_home">J.</li></a>
        </div>
        <div style="display:inline-block;margin-right:4em;@include breakpoint(max-width $large) {display: none;}" class="visible-links">
          <!--
            <li><span style="display:block; width: 3em;"></span></li>
            <a href="{{ base_path }}/"><li class="masthead__menu_home">J.</li></a>
          -->
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </div>
        <div class="hidden-links hidden"></div>
      </nav>
    </div>
  </div>
</div>
