







//ANIMATION
#publication h1 img {
    height: 1em;
    width: auto;
}





.archive_text {
	color: #6b8387;
}

.archive_text a {
	text-decoration: underline;
}

.archive_text a:hover {
	color: #333;
}
