.research_block {
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	margin: 20px 0 0px 0;

}

#research .research_block a:hover{
	color: inherit;
}

.research_block h2 {
	margin: 0 0 0.6rem 0;
	padding: 0;
	line-height: 1.26;
	font-size: 2.027rem;
}




.research_block .left-part {
	flex: 1;
	padding-right: 1rem;
}


.research_block .right-part {
	flex: 30%;
	padding-left: 1rem;
	position: relative;
}







.categories {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.option-tag {
	font-size: .88889rem;
	line-height: 2.03;
  display: flex;
  flex-direction: row;
	flex-wrap: nowrap;
  white-space: nowrap;
  padding: .3rem;
  background-color: #fbe8dd;
  align-items: center;
	margin-left: .25rem;
	margin-right: .25rem;
}

.icons-tag {
	font-size: 1rem;
	font-weight: 300;
}

.option-tag > * {
	margin-left: .15rem;
	margin-right: .15rem;
}



.text-description {
	display: block;
	height: 369px;
	overflow: hidden;
}

.text-description:before {
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(transparent 70%, white);
}

.text-description a {
	text-decoration: none;
	//border-bottom: 3px solid #FFA500;
	box-shadow: inset 0 0px 0 white, inset 0 -3px 0 #FFA500;
	transition: box-shadow 0.4s; /* Animation */
}

.text-description a:hover{
	color: inherit;
	box-shadow: inset 0 0px 0 white, inset 0 -20px 0 #FFA500;
}

.text-description p {
	margin-top: 1.125rem;
	font-size: 1rem;
	line-height: 1.875;
	font-weight: 400;
	color: #333;
	margin-bottom: 0;
}








//-----------------------------------------------------------------------------
//IMAGE!
//-----------------------------------------------------------------------------

#ImgResearch {
	max-width: 100%;
	height: auto;
}





//-------------------------------------------------------------
// RESEARCH ANIMATION

#research_icon {
	position: relative;
}
.anim_bubble#research_icon span {
	position: absolute;
	bottom: 50px;
	left: 29px;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background-color: #333;

}

.anim_bubble#research_icon span:nth-child(1) {
	animation: animate1 1.2s linear infinite;
}
.anim_bubble#research_icon span:nth-child(2) {
	animation: animate2 1s linear infinite;
}
.anim_bubble#research_icon span:nth-child(3) {
	animation: animate3 0.9s linear infinite;
}
.anim_bubble#research_icon span:nth-child(4) {
	animation: animate1 0.7s linear infinite;
}
.anim_bubble#research_icon span:nth-child(5) {
	animation: animate2 0.5s linear infinite;
}
@keyframes animate1 {
	0% {
		bottom: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}
	25% {
		bottom: 124%;
		margin-left: -6px;
		margin-right: 0px;
	}
	50% {
		bottom: 136%;
		margin-left: 6px;
		margin-right: 0px;
	}
	100% {
		bottom: 160%;
		margin-left: 0px;
		margin-right: 0px;
	}
}

@keyframes animate2 {
	0% {
		bottom: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}
	25% {
		bottom: 124%;
		margin-left: 6px;
		margin-right: 0px;
	}
	50% {
		bottom: 136%;
		margin-left: -6px;
		margin-right: 0px;
	}
	100% {
		bottom: 160%;
		margin-left: 0px;
		margin-right: 0px;
	}
}

@keyframes animate3 {
	0% {
		bottom: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}
	25% {
		bottom: 124%;
		margin-left: -8px;
		margin-right: 0px;
	}
	50% {
		bottom: 136%;
		margin-left: 3px;
		margin-right: 0px;
	}
	100% {
		bottom: 160%;
		margin-left: 0px;
		margin-right: 0px;
	}
}







/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 850px){
	.research_block {
		display: block;
	}

}
