<footer class="custom-footer">
    <div class="footer-socials">
      <a href="https://github.com/JosephBrunet" target="_blank" rel="noopener">
        <i class="fab fa-github"></i>
      </a> |
      <a href="https://www.linkedin.com/in/joseph-brunet-b86b3b153" target="_blank" rel="noopener">
        <i class="fab fa-linkedin"></i>
      </a> |
      <a href="https://x.com/Joseph__Brunet" target="_blank" rel="noopener">
        <i class="fab fa-twitter"></i>
      </a> |
      <a href="https://scholar.google.com/citations?user=7T_yo4UAAAAJ" target="_blank" rel="noopener">
        <i class="fas fa-graduation-cap"></i>
      </a>
    </div>
  </footer>
  