<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to icon browser tab -->
			<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<style>
			html, body {
			  height: 100%;
			}
			img.two {
			  height: 5%;
			  width: 5%;
			}
			</style>
		</head>
		<body>
			<!-- /.Test column -->
			<div class="container">
				<div class="row">
					<div class="col">
						<img src="images/portrait.jpeg" alt="HTML5 Icon" width="400">
					</div>
					<div class="col">
						<!-- Menu bar -->
						<nav>
								<ul>
										<li><a href="/">Home</a></li>
										<li><a href="/about">About</a></li>
										<li><a href="/cv">CV</a></li>
										<li><a href="/blog">Blog</a></li>
								</ul>
						</nav>
						<!-- FIN Menu bar -->
						<div class="container">

						{{ content }}

						</div><!-- /.container -->
					</div>
				</div>
			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:joseph.brunet@emse.fr">Send Email</a></li>
	        		<li><a href="https://www.linkedin.com/in/joseph-brunet-b86b3b153/">Linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
